.AriaMenuButton {
  position: relative;
  width: 4em;
  height: 4em;
  font-size: 1rem;
}

.AriaMenuButton-trigger {
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0.1em solid #D5D5D5;
  border-radius: 0.25em;
  font-weight: bold;
  width: 100%;
  height: 100%;
}

.AriaMenuButton-trigger img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.AriaMenuButton-trigger:hover,
.AriaMenuButton-trigger:focus,
.AriaMenuButton-trigger.is-open {
  border-color: #CCC;
  filter: grayscale(0);
}

.AriaMenuButton-trigger:active,
.AriaMenuButton-trigger.is-open {
  background-color: #DCDCDC;
  background-image: none;
  border-color: #B5B5B5;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}

.AriaMenuButton-menu {
  background: #fff;
  border: 1px solid rgba(200, 200, 200, 0.4);
  list-style-type: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99;
  padding-left: 0;
  border-radius: 3px;
  margin: 4px 0 0 0;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  width: 215px;
}

.AriaMenuButton-menu--flushRight {
  right: 0;
}

.AriaMenuButton-menuItem {
  cursor: pointer;
  padding: 8px;
  border-bottom: 1px solid #EEE;
}

.AriaMenuButton-menuItemWrapper:first-of-type .AriaMenuButton-menuItem {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.AriaMenuButton-menuItemWrapper:last-of-type .AriaMenuButton-menuItem {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.AriaMenuButton-menuItem:hover,
.AriaMenuButton-menuItem:focus {
  background-color: #4183C4;
  color: #fff;
}

.AriaMenuButton-menuItem.is-selected {
  cursor: default;
  font-weight: bold;
}

.AriaMenuButton {
}

.AriaMenuButton.AriaMenuButton-discrete {
  position: absolute;
  top: 0;
  left: 0;
}

.AriaMenuButton-discrete .AriaMenuButton-trigger {
  transform: scale(0.33);
  transform-origin: left top;
  transition: all 1s;
}

.AriaMenuButton-discrete .AriaMenuButton-trigger:hover {
  transform: scale(1);
}

.AriaMenuButton-discrete .AriaMenuButton-trigger {
  opacity: 0.4;
}

.AriaMenuButton-discrete .AriaMenuButton-trigger:hover {
  opacity: 1;
}

.AriaMenuButton-centered {
  margin: 0 auto;
}

.AriaMenuButton.AriaMenuButton-inline {
  display: inline-block;
  vertical-align: text-bottom;
  height: 1.5em;
  width: 1.5em;
}

.AriaMenuButton-gray .AriaMenuButton-trigger {
  filter: grayscale(100%);
}

.AriaMenuButton-gray .AriaMenuButton-trigger:hover {
  filter: grayscale(0%);
}
